@import url(https://fonts.googleapis.com/css?family=Squada+One);

#root{
  width: 100%;
  height: 100vh;
}

.app {
  height: 100vh;
}

.blog-container {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}

.row::after{
  clear: both;
  content: "";
}

.map-Section, .blog-Section {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
}

.blog-section {
  background: #395C6B;
  opacity: 0.9;
  padding: 1%;
  /*background-image: url("https://lh3.googleusercontent.com/S6MMVhUJgaXnjkuerxsZXipBilMXi3C_oXQrpDUEsKRNdQO5bWFk_Hxm9pN3Vukq6_crmU1_O8SUNPUxm-z2x1LmdpD59Jbgqpp89JZp3RUGsIFKL2jAooKn1Zfs-aBlnir5Rmas7wGdDGzTlATmB3j7XskY_ONuElk0kpRGLqakl5MuQPd2UHqvA5-rMPJ7GMKlCjuKyTUgTewn7a8AA1MOL3RcjRXq5cSTIio3I2AlpifG-6SReTfXAO9tQSSVGMWbasRw14zVscOhYK9SN0OQJa5xvPNSlmlPIn0ZtWYp5EfdfdbvAcmrZg9ynulyYZAn_65BeDELRw7PZ85ZCGYOQu_BaBQSyo1VaiYzWHBAReivUJsPop83cekVfKC0Tu0JSuYnpqGNwg6f1wbNu2gZCTdfU8NWZ6P4sKdKV_7vPn4YdginOtTG525qUL46Gz7QinJkSLdm8uzqUe_AoGyAjDyT8DV7Cy4lbG88rZ650vzQ-ATxZxgcWh8BHk_OuSiE6Kup89xEEzKW_uR5jzCCJHY98SwgNLLOpAycZHFapbt8k5cTfnGB3zEP7dLqil4umxYjhS81MjM3oYz9XcxYzcS-P70UT8Ml9HQ120mN-xOLKH7g4U6LRXPcWLTXQQA9rDdWEj_0Mxe6lO2v8STlLCiVGmaR0l4FJB4m80FEIenkUXkbABmLqB3DKT_RpnaidopG1VJv8JKs6D6XMYCG=w1600-h756-no");*/
  background-image: url(./assets/images/welcome/welcome_1.jpg);
}

.content {
  padding: 2%;
}

.layer {
  background: #395C6B;
  opacity: 0.9;
}

.content-header {
  line-height: 0.25;
}

.content-header h1 {
  font-size: 4vw;
  text-decoration: overline;
}

.post-data {
  text-decoration: underline;
  font-style: italic;
}

.header {
  vertical-align: middle;
  position: relative;
}

.title {
  color: lightgray;
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
  font-size: 8vw;
  right: 0;
  margin-right: -15px;
  opacity: 0.7;
}

@media only screen and (min-width: 768px){
  .blog-section {
    max-height: 100%;
    overflow: auto;
  }
}

/* Burger Menu Stuff */

.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 25px;
  top: 37px;
  z-index: 9999;
  background: lightgray;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* nav-menu */

.popup-overlay {
  width: 50%;
  position: relative;
  z-index: 2;
}

.nav-menu {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0px;
  position: relative;
  z-index: 1;
}

.nav-menu ul{
  position: relative;
  top: 0px;
  font-size: 24px;
  padding: 0px;
}

.nav-menu li {
  list-style: outside none none;
  margin: 10px 0px;
  padding: 0;
  cursor: pointer;
}

.nav-menu a:link{
  text-decoration: none;
  color: black;
}

.nav-menu a:visited {
  text-decoration: none;
  color: black;
}

.nav-menu a:hover {
  text-decoration: underline;
  color: gray;
}

/* Welcome Page */
.welcome-page {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/images/welcome/welcome_1.jpg);

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.welcome-text {
  width:50%;
  text-align: center;
  color: #fff;
}

.welcome-button {
  background-color: transparent;
  background-repeat:no-repeat;
  cursor: pointer;
  overflow: hidden;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  border: 2px solid lightgray;
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
  color: #fff;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.welcome-button:hover, .welcome-button:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}



