@import url(https://fonts.googleapis.com/css?family=Squada+One);

#root{
  width: 100%;
  height: 100vh;
}

.app {
  height: 100vh;
}

.blog-section {
  background: #395C6B;
  opacity: 0.9;
  padding: 1%;
  background-image: url(./assets/images/welcome/welcome_1.jpg);
  grid-area: blog;
}

.map-section {
  grid-area: map;
}

.map-instruction {
  grid-area: instruction;
}

.mobile-header {
  grid-area: mobileHeader;
  background: #395C6B;
  background-image: url(./assets/images/welcome/welcome_1.jpg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "title title title"
    ". instruction instruction"
}

.mobile-header p{
  text-align: left;
}

.blog-container {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-areas: 
    "mobileHeader"
    "map"
    "blog"
}

.content {
  padding: 2%;
}

.layer {
  background: #395C6B;
  opacity: 0.9;
}

.content-header {
  line-height: 0.25;
}

.content-header h1 {
  font-size: 4vw;
  text-decoration: overline;
}

.post-data {
  text-decoration: underline;
  font-style: italic;
}

.header {
  vertical-align: middle;
  position: relative;
}

.title {
  color: lightgray;
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
  font-size: 8vw;
  right: 0;
  margin-right: -15px;
  opacity: 0.7;
  grid-area: title;
}

@media only screen and (min-width: 768px){
  .blog-section {
    max-height: 100%;
    overflow: auto;
  }

  .blog-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "blog map"
  }

  .mobile-header{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .desktop-title {
    visibility: hidden;
  }
}

/* Burger Menu Stuff */

.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 25px;
  top: 37px;
  z-index: 9999;
  background: lightgray;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* nav-menu */

.popup-overlay {
  width: 50%;
  position: relative;
  z-index: 2;
}

.nav-menu {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0px;
  position: relative;
  z-index: 1;
}

.nav-menu ul{
  position: relative;
  top: 0px;
  font-size: 24px;
  padding: 0px;
}

.nav-menu li {
  list-style: outside none none;
  margin: 10px 0px;
  padding: 0;
  cursor: pointer;
}

.nav-menu a:link{
  text-decoration: none;
  color: black;
}

.nav-menu a:visited {
  text-decoration: none;
  color: black;
}

.nav-menu a:hover {
  text-decoration: underline;
  color: gray;
}

/* Welcome Page */
.welcome-page {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/images/welcome/welcome_1.jpg);

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.welcome-text {
  width:50%;
  text-align: center;
  color: #fff;
}

.welcome-button {
  background-color: transparent;
  background-repeat:no-repeat;
  cursor: pointer;
  overflow: hidden;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  border: 2px solid lightgray;
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
  color: #fff;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.welcome-button:hover, .welcome-button:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}



